/* Global styles */
body {
  font-family: Arial, sans-serif;
}

/* Dark mode styles */
.dark-mode {
  background-color: #333;
  color: #fff;
}

/* Fuel calculator styles */
.fuel-calculator {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.title {
  font-size: 32px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.input-container {
  margin-bottom: 15px;
}

input,
select {
  width: calc(100% - 20px); /* Adjusted for padding */
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.calculate-btn {
  width: 100%;
  background-color: #007bff;
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.calculate-btn:hover {
  background-color: #0056b3;
}

.result {
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  color: #4caf50;
}

.developer {
  font-style: italic;
  margin-top: 30px; /* Adjust margin-top to give a little downward shift */
  color: #888;
}

.developer a {
  text-decoration: none; /* Remove underline from the link */
}

.developer .glow {
  animation: glow 1s ease-in-out infinite alternate; /* Glowing animation */
}

/* Glowing animation */
@keyframes glow {
  0% {
    text-shadow: 0 0 5px #007bff;
  }
  100% {
    text-shadow: 0 0 20px #007bff, 0 0 40px #007bff, 0 0 80px #007bff; /* Adjust color and size for the glowing effect */
  }
}

.fuel-price-input {
  display: flex;
  align-items: center;
}

.currency-dropdown {
  margin-left: 5px;
  width: 85px; /* Adjust spacing as needed */
}

/* Adjust dark mode toggle position */
.dark-mode-toggle {
  position: absolute;
  top: 10px;
  right: 10px;
}

.dark-mode-toggle .dark-mode-icon {
  cursor: pointer;
  font-size: 20px;
}
